@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
}
:root {
  --text: #111517;
  --bg: #fafafa;
  --white: #ffffff;
  --placeholder: #848484;
}
.dark {
  --text: #ffffff;
  --white: #2b3844;
  --bg: #202c36;
  --placeholder: #ffffff;
}
body {
  font-family: "Nunito Sans", sans-serif;
  line-height: normal;
  font-style: normal;
  background-color: var(--bg);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  padding-top: 23px;
  padding-bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  color: var(--text);
  font-size: 24px;
  font-weight: 800;
}
.header .dark-mode {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.header .dark-mode:hover,
.header .logo:hover {
  transition: all 0.3s;
  transform: scale(102%);
}

.form {
  margin-top: 128px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.form .input {
  position: relative;
}
.form .input svg {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
}
.form input {
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  width: 332px;
  height: 56px;
  padding: 0 74px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text);
  outline: none;
  border: none;
}
.form input::-moz-placeholder {
  color: var(--placeholder);
}
.form input::placeholder {
  color: var(--placeholder);
}
.form .select {
  position: relative;
}
.form .select svg {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
path {
  fill: var(--text);
}
.form select {
  width: 200px;
  border-radius: 5px;
  background: var(--white);
  border: none;
  outline: none;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  padding: 0 24px;
  height: 56px;
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 67px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin-top: 48px;
}
.cards .card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 336px;
  border-radius: 5px;
  text-decoration: none;
  background: var(--white);
  color: var(--text);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  row-gap: 8px;
}
.cards .card img {
  width: 267px;
  height: 155px;
  -o-object-fit: cover;
  object-fit: cover;
}
.cards .card h2 {
  margin-top: 16px;
  margin-bottom: 10px;
  padding-left: 24px;
  color: var(--text);
  font-size: 18px;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
}
.cards .card p {
  color: var(--text);
  font-size: 14px;
  line-height: 16px; /* 114.286% */
  padding-left: 24px;
  font-weight: 300;
}
.cards .card p span {
  font-weight: 600;
}
.cards .card:hover {
  transition: all 0.3s;
  box-shadow: 0.1px 1px 8px var(--text);
}

.back {
  position: relative;
  border-radius: 6px;
  background: var(--white);
  top: 160px;
  margin-bottom: 80px;
  color: var(--text);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; /* 125% */
  box-shadow: 0px 0px 7px 0px var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  width: 136px;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 44px;
  position: relative;
  top: 200px;
}
.about .about-left {
  margin: 0 auto;
}
.about .about-left img {
  width: 559px;
  -o-object-fit: cover;
  object-fit: cover;
}
.about .about-right {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.about .border-s-center {
  display: flex;
  flex-direction: column;
  gap: 68px;
}
.about .right-center {
  display: flex;
  justify-content: space-between;
}
.about .right-center .right-center-left,
.about .right-center .right-center-right {
  width: 50%;
}
.about .right-center p {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.about .right-center p span {
  font-weight: 300;
}
.about .border {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.about .border .border-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.about h2 {
  color: var(--text);
}
.about .border .border-left {
  color: var(--text);
}
.about .border a {
  border-radius: 2px;
  border: 0px solid #979797;
  background: var(--white);
  width: 96px;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  box-shadow: 0px 0px 4px 1px var(--text);
  color: var(--text);
  font-size: 14px;
  font-weight: 300;
}
.about .border a:hover {
  transition: all 0.3s;
  box-shadow: 0.1px 1px 8px var(--text);
}

@media screen and (max-width: 600px) {
  .about-right,
  .about-left,
  .right-center,
  .right-center-left {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .about-left img {
    width: 370px !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .right-center {
    flex-direction: column;
    margin: 0 auto;
    gap: 44px;
  }
  .cards {
    margin-top: 32px !important;
  }
  .form {
    margin-top: 104px !important;
  }
  input {
    width: 250px !important;
    font-size: 12px;
  }
  .logo {
    font-size: 14px !important;
  }
  .dark-mode {
    font-size: 12px !important;
  }
  .select {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 430px) {
  .form input {
    width: 180px !important;
  }
  .back {
    top: 120px;
  }
  .about {
    top: 136px;
  }
} /*# sourceMappingURL=style.css.map */
